@page
@model PetShop.Web.Client.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" />
                <label asp-for="Input.LastName"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" />
                <label asp-for="Input.Email"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" />
                <label asp-for="Input.Password"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <label asp-for="Input.ConfirmPassword"></label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}