@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Приветствем вас в нашем Интеренет-Магазине</h1>
    <p class="lead">Здесь есть Необычные вещи</p>
    <hr />
    <p>Наш магазин встречает вас</p>
    <a class="btn btn-primary" asp-page="/Products">Перейти к товарам</a>
</div>
